GazClientApp/Service References/GazDataService/GazDataService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLayer.Containers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLayer.Containers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://212.112.97.194:4447/GazDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BillItemClass">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Error" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GazAmount" type="xs:double" />
      <xs:element minOccurs="0" name="GazVolume" type="xs:double" />
      <xs:element minOccurs="0" name="Penalty" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillItemClass" nillable="true" type="tns:BillItemClass" />
</xs:schema>