GazClientApp/Service References/GazDataService/GazDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://GazDataServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://GazDataServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://GazDataServices/Imports">
      <xsd:import schemaLocation="http://212.112.97.194:4447/GazDataService.svc?xsd=xsd0" namespace="http://GazDataServices" />
      <xsd:import schemaLocation="http://212.112.97.194:4447/GazDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://212.112.97.194:4447/GazDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer.Containers" />
      <xsd:import schemaLocation="http://212.112.97.194:4447/GazDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataAccessService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_GetBill_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBill" />
  </wsdl:message>
  <wsdl:message name="IDataAccessService_GetBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataAccessService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://GazDataServices/IDataAccessService/GetData" message="tns:IDataAccessService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://GazDataServices/IDataAccessService/GetDataResponse" message="tns:IDataAccessService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBill">
      <wsdl:input wsaw:Action="http://GazDataServices/IDataAccessService/GetBill" message="tns:IDataAccessService_GetBill_InputMessage" />
      <wsdl:output wsaw:Action="http://GazDataServices/IDataAccessService/GetBill" message="tns:IDataAccessService_GetBill_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>